* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* About Container 1 */
.aboutContainer1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  gap: 10px;
}
.aboutContainer2 {
  justify-content: space-between;
  display: flex;
  gap: 15%;
  align-items: center;
}
.aboutContainer3 {
  text-align: center;
  margin-top: 60px;
  margin-left: 15px;
}
/* Mega Sale */
.megaSale {
  font-weight: bold;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px gray;
}
/* Paragraph */
.para {
  padding: 80px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 3px;
  width: 700px;
  text-align: left;
}
/* Image */
img {
  width: 100%;
  height: 700px;
  margin-left: 5px;
  border-radius: 5px;
  margin-left: 60px;
}
/* Button */
.btn {
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(85, 85, 129);
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(128, 128, 173);
}
a {
  text-decoration: none;
  color: black;
}
/* media query 320px screen */
@media screen and (max-width: 320px) {
  .aboutContainer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 10px;
  }
  .aboutContainer2 {
    flex-direction: column;
    gap: 15%;
    align-items: center;
  }

  .btn {
    width: 100px;
    font-size: 15px;
  }
  .megaSale {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .aboutContainer1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
  .aboutContainer2 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .aboutContainer3 {
    margin-left: 0;
  }
  .megaSale {
    font-size: 40px;
  }

  .para {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .btn {
    width: 100px;
    font-size: 30px;
    padding: 12px;
  }
}

@media (max-width: 640px) {
  .aboutContainer1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
  .aboutContainer2 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .aboutContainer3 {
    margin-left: 0;
  }
  .megaSale {
    font-size: 46px;
  }
  .para {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .btn {
    margin-top: 5px;
    width: 200px;
    font-size: 20px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .aboutContainer1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
  .aboutContainer2 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .aboutContainer3 {
    margin-left: 0;
  }
  .megaSale {
    font-size: 50px;
  }
  .para {
    padding: 20px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .btn {
    margin-top: 5px;
    width: 250px;
    font-size: 30px;
    padding: 12px;
  }
}

@media (max-width: 1024px) {
  .aboutContainer1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
  .aboutContainer2 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .aboutContainer3 {
    margin-left: 0;
  }
  .megaSale {
    font-size: 55px;
  }
  .para {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .btn {
    margin-top: 5px;
    width: 300px;
    font-size: 30px;
    padding: 12px;
  }
}
